html, button {
    font-family: Cabin, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header, main, footer {
    padding: 10px;
}

svg {
    flex: auto;
    user-select: none;
}

.interactive-line {
    stroke: transparent;
}

.interactive-line:hover {
    stroke: orange;
    opacity: 30%;
}
