html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.error {
    color: red;
    font-weight: bold;
    font-size: large;
}

#canvas {
    width: 100%;
    height: 70%;
    touch-action: none;
}

#debug-console {
    font-family: monospace;
    font-size: small;
}

#debug-graph {
    width: 100%;
    height: 150px;
}

#debug-metric {
    font-family: monospace;
    font-size: small;
    text-align: right;
}
