html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Oxygen, sans;
}

h1 {
    font-size: large;
}

h1, p {
    margin: 5px;
}

.warning {
    color: red;
}

#controls {
    font-family: monospace;
    font-size: large;
    padding: 4px 0;
}

#controls > b {
    background: white;
    border-radius: 2px;
    padding: 2px;
}

#controls a:link,
#controls a:visited {
    color: blue;
    text-decoration: none;
}

#freeze.active {
    background: #81d930;
}

main, #middle-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

main,
#diagram,
#middle-container,
#diagram-container {
    width: 100%;
    height: 100%;
}

#middle-container,
#help,
#equation-container {
    display: table-row;
}

#equation-container.stale #equation {
    color: #999;
}

#diagram-container,
#tableau-container {
    display: table-cell;
}

#tableau-container {
    background: #fff9dd;
    vertical-align: top;
    width: 200px;
}

#tableau-container td,
#tableau-container th {
    padding: 4px;
}

#tableau-container p {
    padding: 8px;
    margin: 0;
}

#tableau-wrapper {
    height: 100%;
    overflow: auto;
}

#tableau .summed {
    width: 1em;
}

#tableau .name {
    min-width: 1em;
}

#tableau .phase {
    text-align: center;
    width: 2em;
}

#tableau .weight {
    text-align: right;
    width: 4em;
}

#tableau td.phase,
#tableau td.weight {
    font-family: monospace;
}

#tableau .two-j {
    color: #ac53b3;
    font-weight: bold;
}

#help {
    background: #f9f9f9;
}

#equation {
    background: #f9f9f9;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    overflow: auto;
    width: 100%;
}

#version {
    font-family: monospace;
}

#diagram,
#tableau {
    user-select: none;
    cursor: default;
}

#delta-tableau .zero {
    color: #2966c6;
    font-weight: bold;
}

g.line * {
    transition: fill 0.15s, stroke 0.15s;
}

g.line path.bg,
g.line path.fg,
g.line path.hit {
    fill: none;
}

g.line path.bg {
    stroke: rgba(255, 255, 255, 0.7);
    stroke-width: 10;
    stroke-linecap: round;
}

g.line path.hit {
    stroke: transparent;
    stroke-width: 25;
    stroke-linecap: round;
}

g.line:hover path.hit {
    stroke: rgba(227, 189, 46, 0.2);
}

g.line path.fg {
    stroke-width: 2;
}

g.line path.fg {
    stroke: #051308;
}

g.line:hover path.fg {
    stroke: #737a74;
}

g.line path.fg.two-j {
    stroke: #ac53b3;
}

g.line:hover path.fg.two-j {
    stroke: #de9dc1;
}

g.line text.label {
    fill: #051308;
    alignment-baseline: middle;
    text-anchor: middle;
    font-size: large;
}

g.line:hover text.label,
g.line:hover use.arrow {
    fill: #737a74;
}

g.line text.label.two-j,
g.line use.arrow.two-j {
    fill: #ac53b3;
}

g.line:hover text.label.two-j,
g.line:hover use.arrow.two-j {
    fill: #de9dc1;
}

g.arrow circle.hit {
    fill: transparent;
}

g.arrow:hover circle.hit {
    fill: rgba(227, 189, 46, 0.2);
}

g.node * {
    transition: fill 0.15s;
}

g.node circle {
    fill: transparent;
}

g.node circle.fg {
    fill: #ddd;
}

g.node text.label {
    alignment-baseline: middle;
    text-anchor: middle;
    font-size: large;
}

g.node.w3j circle.fg {
    fill: #2eb0ba;
}

g.node.w3j:hover circle.fg {
    fill: #83e3ea;
}

g.node.w3j circle.fg.flipped {
    fill: #d98b7c;
}

g.node.w3j:hover circle.fg.flipped {
    fill: #edbfb6;
}

g.node.w3j use.arrow {
    fill: white;
}

g.node.w3j use.arrow.flipped {
    transform: scale(-1,1);
}

g.node.terminal circle.fg {
    fill: rgba(0, 0, 0, 0.3);
}

g.node.terminal:hover circle.fg {
    fill: rgba(100, 100, 100, 0.3);
}

g.node.terminal circle.fg.frozen {
    fill: transparent;
}

svg {
    isolation: isolate;
}

#diagram-track {
    mix-blend-mode: color-dodge;
    pointer-events: none;
}

path.track1,
path.track2 {
    fill: none;
    stroke-width: 6px;
}

#diagram-track path.track1 {
    stroke: rgba(248, 84, 80, 1);
}

#diagram-track circle.track1 {
    fill: rgba(248, 84, 80, 1);
}

g.node.track1 circle.bg {
    fill: rgba(248, 84, 80, 0.6);
}

g.line.track1 path.hit {
    stroke: rgba(248, 84, 80, 0.6);
}

#diagram-track path.track2 {
    stroke: rgba(105, 211, 95, 1);
}

#diagram-track circle.track2 {
    fill: rgba(105, 211, 95, 1);
}

g.node.track2 circle.bg {
    fill: rgba(105, 211, 95, 0.6);
}

g.line.track2 path.hit {
    stroke: rgba(105, 211, 95, 0.6);
}
