html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Oxygen, sans;
}

h1 {
    font-size: large;
}

h1, p {
    margin: 5px;
}

.warning {
    color: red;
}

#controls {
    font-family: monospace;
    font-size: large;
    padding: 4px 0;
}

#controls > b {
    background: white;
    border-radius: 2px;
    padding: 2px;
}

#controls a:link,
#controls a:visited {
    color: blue;
    text-decoration: none;
}

#freeze.active {
    background: #81d930;
}

main, #middle-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

main,
#diagram,
#middle-container,
#diagram-container {
    width: 100%;
    height: 100%;
}

#middle-container,
#help,
#equation-container {
    display: table-row;
}

#equation-container.stale #equation {
    color: #999;
}

#diagram-container,
#tableau-container {
    display: table-cell;
}

#tableau-container {
    background: #fff9dd;
    vertical-align: top;
    width: 200px;
}

#tableau-container td,
#tableau-container th {
    padding: 4px;
}

#tableau-container p {
    padding: 8px;
    margin: 0;
}

#tableau-wrapper {
    height: 100%;
    overflow: auto;
}

#tableau .summed {
    width: 1em;
}

#tableau .name {
    min-width: 1em;
}

#tableau .phase {
    text-align: center;
    width: 2em;
}

#tableau .weight {
    text-align: right;
    width: 4em;
}

#tableau td.phase,
#tableau td.weight {
    font-family: monospace;
}

#tableau .two-j {
    color: #ac53b3;
    font-weight: bold;
}

#help {
    background: #f9f9f9;
}

#equation {
    background: #f9f9f9;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    overflow: auto;
    width: 100%;
}

#version {
    font-family: monospace;
}

#diagram {
    user-select: none;
    cursor: crosshair;
}

path#diagram-drag-trail {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: rgba(45, 182, 244, 0.4);
    stroke-width: 10px;
}

#delta-tableau .zero {
    color: #2966c6;
    font-weight: bold;
}
