* {
    --two-j-color: #bb52bd;
    --zero-color: #a89a9f;
    --hover-color: rgba(227, 189, 46, 0.2);
    --w3j-color: #489aed;
    --w3j-flipped-color: #f06b15;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Oxygen, sans;
}

h1 {
    font-size: large;
}

h1, p {
    margin: 5px;
}

#notice:empty::before {
    content: "\a0";
}

.warning {
    color: #f83a30;
}

#controls {
    font-family: monospace;
    font-size: large;
    padding: 4px 0;
}

#controls > b {
    background: white;
    border-radius: 2px;
    padding: 2px;
}

#controls a:link,
#controls a:visited {
    color: #4a94eb;
    text-decoration: none;
}

#controls > #freeze {
    background: #c25625;
}

#controls > #freeze.active {
    background: #59e146;
}

main, #middle-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

main,
#diagram,
#middle-container,
#diagram-container {
    width: 100%;
    height: 100%;
}

#middle-container,
#help,
#equation-container {
    display: table-row;
}

#equation-container.stale #equation {
    color: #999;
}

#diagram-container,
#tableau-container {
    display: table-cell;
}

#tableau-container {
    background: #f7da7f;
    vertical-align: top;
    width: 250px;
}

#tableau-container td,
#tableau-container th {
    padding: 4px;
}

#tableau-container p {
    padding: 8px;
    margin: 0;
}

#tableau-wrapper {
    height: 100%;
    overflow: auto;
}

#tableau {
    margin: 2px 6px;
    white-space: nowrap;
}

#tableau *,
#delta-tableau * {
    transition: background 0.25s;
}

#tableau .summed {
    width: 1em;
}

#tableau .name {
    min-width: 1em;
    text-align: center;
}

#tableau .phase {
    text-align: center;
    width: 2em;
}

#tableau .weight {
    text-align: right;
    width: 4em;
}

#tableau td:focus,
#tableau td:hover,
#delta-tableau li:focus,
#delta-tableau li:hover {
    background: white;
}

#tableau .drag {
    opacity: 0.5;
}

#tableau .drop {
    background: #8bd35b;
}

#tableau td.phase,
#tableau td.weight {
    font-family: monospace;
}

#tableau .two-j {
    color: var(--two-j-color);
    font-weight: bold;
}

#delta-tableau ul {
    padding: 0 40px;
}

#delta-tableau li {
    padding: 4px;
    list-style-type: square;
}

#delta-tableau li.tip {
    list-style-type: none;
    color: #7e5e4f;
}

#help {
    background: #f9f9f9;
}

body.frozen #help {
    background: #c2fa9e;
}

#equation {
    background: #f9f9f9;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    overflow: auto;
    width: 100%;
}

#version {
    font-family: monospace;
}

#diagram,
#tableau {
    cursor: default;
}

#tableau-wrapper .zero {
    color: var(--zero-color);
    font-weight: bold;
}

g.line.zero path.fg {
    stroke: var(--zero-color);
    font-weight: bold;
}

g.line.zero text.label {
    fill: var(--zero-color);
    font-weight: bold;
}

g.line.zero use.arrow {
    fill: var(--zero-color);
    font-weight: bold;
}

g.line * {
    transition: fill 0.25s, stroke 0.25s;
}

g.line path.bg,
g.line path.fg,
g.line path.hit {
    fill: none;
}

g.line path.bg {
    stroke: rgba(255, 255, 255, 0.7);
    stroke-width: 10;
    stroke-linecap: round;
}

g.line path.hit {
    stroke: transparent;
    stroke-width: 25;
    stroke-linecap: round;
}

g.line:hover path.hit {
    stroke: var(--hover-color);
}

g.arrow:hover circle.hit,
g.node:hover circle.hit {
    fill: var(--hover-color);
}

g.line path.fg {
    stroke-width: 2;
    stroke: #051308;
}

g.line path.pith {
    fill: none;
    stroke: none;
}

g.line.summed path.fg {
    stroke-width: 6;
}

g.line.summed path.pith {
    stroke: white;
    stroke-width: 2;
}

g.line.two-j path.fg {
    stroke: var(--two-j-color);
}

g.line text.label {
    fill: #051308;
    alignment-baseline: middle;
    text-anchor: middle;
    font-size: large;
}

g.line.one-j path.fg {
    stroke-dasharray: 18 2;
}

g.line.two-j text.label,
g.line.two-j use.arrow {
    fill: var(--two-j-color);
}

g.arrow circle.hit {
    fill: transparent;
}

g.node * {
    transition: fill 0.25s;
}

g.node circle {
    fill: transparent;
}

g.node circle.fg {
    fill: #ddd;
}

g.node text.label {
    alignment-baseline: middle;
    text-anchor: middle;
    font-size: large;
}

g.node.w3j circle.fg {
    fill: var(--w3j-color);
}

g.node.w3j circle.fg.flipped {
    fill: var(--w3j-flipped-color);
}

g.node.w3j use.arrow {
    fill: white;
}

g.node.w3j use.arrow.flipped {
    transform: scale(-1,1);
}

g.node.terminal circle.fg {
    fill: rgba(0, 0, 0, 0.3);
}

g.node.terminal:hover circle.fg {
    fill: rgba(100, 100, 100, 0.3);
}

g.node.terminal circle.fg.frozen {
    fill: transparent;
}

svg {
    isolation: isolate;
}

#diagram-track {
    mix-blend-mode: color-dodge;
    pointer-events: none;
}

path.track1,
path.track2 {
    fill: none;
    stroke-width: 6px;
}

#diagram-track path.track1 {
    stroke: rgba(248, 84, 80, 1);
}

#diagram-track circle.track1 {
    fill: rgba(248, 84, 80, 1);
}

g.node.track1 circle.bg {
    fill: rgba(248, 84, 80, 0.6);
}

g.line.track1 path.hit {
    stroke: rgba(248, 84, 80, 0.6);
}

#diagram-track path.track2 {
    stroke: rgba(105, 211, 95, 1);
}

#diagram-track circle.track2 {
    fill: rgba(105, 211, 95, 1);
}

g.node.track2 circle.bg {
    fill: rgba(105, 211, 95, 0.6);
}

g.line.track2 path.hit {
    stroke: rgba(105, 211, 95, 0.6);
}
